<section class="row">
  <section class="column col-left">
    <%= render 'movie_data' %>
    <br>
    <div class="row">
      <%= button_to 'review this movie', new_movie_review_path(@movie), method: :get, class: "button" %>
      <%= render "home_button" %>
    </div>

  </section>

  <section class="column col-right">
    <% @movie.reviews.each do |review| %>
      <p><%= review.render_content %><br>
      <%= link_to review.date, review_path(review)%></p>
    <% end %>
  </section>
</section>
