<section class="row">
  <section class="column col-left">
    <div class="movie-data">
    <%= render 'movie_data' %>
    <br>
    <div class="row">
      <%= button_to new_movie_review_path(@movie), method: :get, class: "button success-button" do %>
        <i class="far fa-sticky-note"></i>&nbsp
        <span>review this movie</span>
      <% end %>
      <%= render "home_button" %>
    </div>
    </div>
  </section>

  <% if @movie.reviews.present? %>
  <section class="column col-right">
    <h3>reviews:</h3><br>
    <% @movie.reviews.last(5).each do |review| %>
    <div class="review">
      <%= link_to review_path(review) do %>
        <span class="more-button"><i class="fas fa-ellipsis-h"></i></span>
      <% end %>
      <span><%= link_to review.user.username, user_path(review.user), class: "username" %></span><br>
      <%= review.render_content %>
    </div>
    <% end %>
  </section>
  <% end %>

</section>
