<section class="dashboard column">
<%= render 'search_form' %>


<h2>reviews from people you follow.</h2>
<%if @follows.empty? %> <h3>you're not following anybody yet.</h3> <% end %>

<div class="dash-review-container column">
  <% all_follow_reviews(@follows, 25).each do |review|%>
    <div class="review">
      <div class="result-cards small-card dash-image">
        <%= link_to image_tag(review.movie.poster), review_path(review) %>
      </div>
      <p><%= link_to review.user.username, user_path(review.user) %> said:</p>
      <h2><%= link_to review.movie.titleyear, movie_path(review.movie) %></h2>
      <span><%= review.render_content %></span><br>
    </div>
  <% end %>
</div>
</section>
