<div class="profile-container">
  <div class="profile-info">
    <h1 class="username"> <%= @user.username %></h1>
    <span class="button"> followers:  <%= @user.followers_count %> </span> | <span class="button">following: <%= @user.follow_count%> </span><br><br>
    <% if @user.tagline %>
      <p class="tagline"><%= @user.tagline %></p><br><br>
    <% end %>
    <p><%= @user.render_bio if @user.bio %></p><br>
    <div><%= render 'follow_button' %></div>
  </div><br>

  <% if @user.reviews.present? %>
    <%= render "recent_reviews" %>
    <br><br>
  <% end %>
  <% if @follows.present? %>
    <%= render 'follows' %>
  <% end %>

</div>
