<h1><%= @user.username %></h1>

<%= link_to "follow", follow_user_path(@user) %>

<% @following.each do |user| %>
<%= user %>
<% end %>

<%= render 'search_form' %>
<section class="column">
  <h2>recently reviewed movies.</h2>
  <div class="row">
    <% @movies.last(5).reverse.each do |m| %>
      <p class="result-cards"><%= link_to image_tag(m.poster), movie_path(m) %></p>
    <% end %>
  </div>

  <h2>random reviews.</h2>
  <div class="row">
    <% @movies.sample(5).each do |m| %>
      <p class="result-cards"><%= link_to image_tag(m.poster), movie_path(m) %></p>
    <% end %>
  </div>
</section>
