<div class="profile-container">
  <div class="profile-info">
    <h1 class="username"> <%= @user.username %></h1><br><br>
    <p><%= @user.bio %></p><br>
    <div><%= render 'follow_button' %></div>
  </div><br>

  <% if @user == current_user %>
    <%= render 'search_form' %>
  <% end %>
  <% if @user.reviews.present? %>
    <%= render "recent_reviews" %>
    <br><br>
  <% end %>
  <% if @follows.present? %>
    <%= render 'follows' %>
  <% end %>

</div>
