<div class="tag-page">
  <h1 class="tag-title">reviews tagged as <span class="accent"><%=@tag.name%></span>.</h1>
  <div class="dash-review-container column">
    <% @tag.reviews.each do |review| %>
    <%= link_to review_path(review), class: "review" do %>
      <div class="result-cards small-card dash-image">
        <%=image_tag(review.movie.poster)%>
      </div>
      <div class="tagged-review">
        <span class="username"><%= review.user.username %> </span>
        <h2><%= review.movie.titleyear %></h2>
        <p><%= review.render_content %></p><br>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
