<div id="menu">
    <div class="menu-list">
      <h1><%= link_to current_user.username, user_path(current_user), class: "username" %></h1>

      <%= link_to watchlists_path do %>
      <i class="fas fa-th-large"></i>
      <span>movies</span>
      <% end %>

      <%= link_to dashboard_path do %>
      <i class="fas fa-stream"></i>
      <span>dashboard</span>
      <% end %>

      <%= link_to edit_user_registration_path do %>
      <i class="fas fa-user-edit"></i>
      <span>manage profile</span>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete do %>
      <%= fa_icon "times-circle" %>
      <span>logout</span>
      <% end %>

    </div>
</div>
