<section class="row">
  <section class="column col-left">
    <div class="movie-data">
      <%= render 'movie_data' %>
    </div>
  </section>

  <div class="column col-right">
    <h2>edit your review.</h2>
    <%= form_with model: @review do |f| %>
      <%= f.text_area :content %>
      <%= f.text_field :tag_name, value:'' %>

      <%= f.submit class: "button" %>
    <% end %>
  </div>

</section>
