<section class="row">
  <div class="column col-left movie-data">
    <%= render 'movie_data' %>
  </div>

  <div class="column col-right">
    <h2>edit your review.</h2>
    <%= form_with model: @review do |f| %>
      <%= f.text_area :content %>
      <%= f.text_field :tag_name, value:'' %>

      <%= f.submit class: "button" %>
    <% end %>
  </div>

</section>
