<section class="row">
  <section class="column col-left">
    <div class="movie-data">
      <%= render partial: 'movie_data', locals: {movie: @review.movie} %>
    </div>
  </section>

  <div class="column dash-review-container edit-form">
    <h2>edit your review.</h2>
    <%= form_with model: @review do |f| %>
      <%= f.text_area :content %>
      <%= f.text_field :tag_name %>

      <%= f.submit class: "button" %>
    <% end %>
  </div>

</section>
