<section class="row">
  <div class="column col-left">
    <div class="movie-data">
      <%= render 'movie_data' %>
    </div>
  </div>

  <div class="column col-right">

    <%= form_with model: @review, local: true do |f| %>

    <% if @review.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@review.errors.count, "error") %>
        prohibited this review from being saved:
      </h3>
        <% @review.errors.full_messages.each do |msg| %>
        <p class="red"><%= msg %></p>
        <% end %>
    </div>
    <% end %>

      <%= f.hidden_field :movie_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :date, value: Time.now %>
      <%= f.text_area :content, placeholder: "write a review" %><br>

      <%= f.text_field :tag_name, placeholder: "comma separated tags" %>

      <%= button_tag type: 'submit', class: "button" do %>
        <%= fa_icon "chevron-right" %>
      <% end %>
    <% end %>
  </div>

</section>
