<section class="row">

  <div class="column col-left">
    <%= render 'movies/movie_data' %>
  </div>

  <div class="column col-right">
    <%= form_with model: @review do |f| %>
      <%= f.hidden_field :movie_id %>
      <%= f.hidden_field :date, value: Time.now %>
      <%= f.text_area :content, placeholder: "write a review" %><br>

      <%= f.text_field :tag_name, list: "tags_autocomplete", placeholder: "comma separated tags" %>
      <datalist id="tag_autocomplete">
        <% Tag.all.each do |tag| %>
          <option value="<%= tag.name %>">
        <% end %>
      </datalist>

      <%= button_tag type: 'submit', class: "button" do %>
        <%= fa_icon "chevron-right" %>
      <% end %>
    <% end %>
  </div>

</section>
