<h1>Write a review for <%= @movie.titleyear %></h1>
<%= form_with model: @review do |f| %>
  <%= f.hidden_field :movie_id %>
  <%= f.hidden_field :date, value: Time.now %>
  <%= f.text_area :content %><br>

  <%= f.text_field :tag_name, list: "tags_autocomplete" %>
  <datalist id="tag_autocomplete">
    <% Tag.all.each do |tag| %>
      <option value="<%= tag.name %>">
    <% end %>
  </datalist>

  <%= f.submit class: "button"%>
<% end %>
