<h1>Write a review for <%= @movie.titleyear %></h1>
<%= form_for @review do |f| %>
  <%= f.hidden_field :movie_id %>
  <%= f.hidden_field :date %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
