<section class="row">
  <div class="column col-left">
  <div class="movie-data">
    <%= render 'movie_data' %><br>
    <div class="row">
      <% if @review.owns? current_user %>
        <%= button_to review_path(@review), method: :delete, class: "button delete-button" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <%= button_to edit_review_path(@review), method: :get, class: "button" do %>
          <i class="fas fa-edit"></i>
        <%end%>
      <% end %>
      <%= render 'home_button' %>
    </div>
    </div>
  </div>

  <div class="column col-right">
    <h3>review by: </h3>
    <span><%= link_to @review.user.username, user_path(@review.user), class: "username" %></span><br>
    <p class="review review-show"><%= @review.render_content %></p>
    <p><i class="far fa-calendar"></i> <%= @review.render_date %></p><br>
    <% if @review.tags.present? %>
      <span>
        <% @review.tags.each do |tag| %>
          <%= link_to tag_path(tag), class: "tag" do %>
          <i class="fas fa-circle fa-xs"></i>
          <span><%= tag.name %></span>
          <% end %>
        <% end %>
      </span>
    <% end %>
  <br><br>
  </div>

</section>
