<section class="row">
  <div class="column col-left">
    <%= render 'movie_data' %>
  </div>

  <div class="column col-right">
    <%= @review.render_content %><br><br>
    <%= @review.date %><br>
    <div class="row">
      <p>tags: </p>
      <% @review.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: "tag" %>
      <% end %>
    </div>
  <br><br>
    <div class="row">
      <%= button_to review_path(@review), method: :delete, class: "button delete-button" do %>
        <%= fa_icon "trash" %>
      <% end %>
      <%= button_to edit_review_path(@review), method: :get, class: "button" do %>
        <%= fa_icon "edit" %>
      <%end%>
      <%= render 'home_button' %>
    </div>
  </div>

</section>
