<!DOCTYPE html>
<html>
  <head>
    <title>Filmr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all' %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'blocker' %>
    <%= render 'flash' %>
    <% if user_signed_in? %>
      <%= render "search_form" %>
      <%= render 'menu_button' %>
      <%= render 'main_menu' %>
    <% end %>
    <%= render 'logo' %>

    <div class="container-all">
      <%= yield %>
    </div>

  </body>
  <script>
    $('input[type=radio]').click(function() {
      $("#movie-list").submit();
    });

    $(".flash, .flash-container").addClass("slideInDown").delay(3000).queue(function () {
      $(this).addClass("slideOutUp").dequeue();
    });

    $( "#btn, #blocker" ).click(function() {
      $( "#menu, #blocker, .container-all" ).toggleClass( "open", 250, "easeOutCirc" );
      $( "#btn" ).toggleClass( "active");
    });
  </script>
</html>
