<!DOCTYPE html>
<html>
  <head>
    <title>Filmr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    $('input[type=label]').on('click', function () {
      $(this).closest("form").submit();
    });

    $(".alert, .success").addClass("slideInDown").delay(3000).queue(function () {
      $(this).addClass("slideOutUp").dequeue();
    });
  </script>
</html>
