<!DOCTYPE html>
<html>
  <head>
    <title>Filmr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'blocker' %>
    <%= render 'flash' %>
    <%= render 'menu_button' %>
    <%= render 'main_menu' %>

    <div class="container-all">
      <%= yield %>
    </div>

  </body>
  <script>
    $('input[type=radio]').click(function() {
      $("#movie-list").submit();
    });

    $(".alert, .notice").addClass("slideInDown").delay(3000).queue(function () {
      $(this).addClass("slideOutUp").dequeue();
    });

    $( "#btn, #blocker" ).click(function() {
      $( "#menu, #blocker, .container-all" ).toggleClass( "open", 250, "easeOutCirc" );
      $( this ).toggleClass( "active");
    });
  </script>
</html>
